@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: black;
}

#root {
  height: 100%;
  width: 100%;
  background-color: black;
}
